<!DOCTYPE html>
<html>

<head>
    <title>Sign up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="icon" href="{{url_for('static',filename='images/logo.png')}}" type="image/x-icon">
    <!-- Custom Theme files -->
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet" type="text/css">
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
    <script src="{{url_for('static',filename='javascript/validation.js')}}"></script>
</head>

<body class="main-div">
    <!-- main -->
    <div class="main-w3layouts wrapper">
        <h1>Sign up</h1>
        <div class="main-agileinfo">
            <div class="agileits-top card-div">
                <img class="profile" src="{{url_for('static',filename='images/account.png')}}" alt="User">
                <br>
                <form action="" method="POST" onsubmit="return validate_sign_up()">
                    <i class="material-icons icon">person</i>
                    <input id="first_name" class="text" type="text" name="first_name" placeholder="First name" required="" pattern="[A-Za-z]+" title="e.g. Saad">
                    <br>
                    <i class="material-icons icon">person</i>
                    <input id="last_name" class="text" type="text" name="last_name" placeholder="Last name" required="" pattern="[A-Za-z]+" title="e.g. Ali">
                    <br>
                    <i class="material-icons icon">email</i>
                    <input id="email" class="text" type="email" name="email" placeholder="Email" required="">
                    <br>
                    <i class="material-icons icon">https</i>
                    <input id="password" class="text" type="password" name="password" placeholder="Password" required="" minlength="8" title="Letters and Numbers only" pattern="[A-Za-z0-9]+">
                    <br>
                    <i class="material-icons icon">https</i>
                    <input id="confirm_password" class="text" type="password" name="confirm_password" placeholder="Confirm password" required="">
                    <input id="submit" type="submit" value="SIGN UP">
                </form>
                <p>Already have an Account? <a href="/signin "> Sign in!</a></p>
            </div>
        </div>
    </div>
    <!-- //main -->
</body>

</html>